.main-title {
  font-family: 'Bungee Outline', serif;
  font-weight: bold;
}

.container {
  padding-top: 20vh;
}

.jumbotron {
  padding-bottom: 50px;
}

.landing-buttons {
  font-variant: small-caps;
}

/* scoreboard */
.score-board {
  display: none;
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd;
}

.scores-table {
  width: 100%;
}

tr {
  border-top: 1px solid #ddd;
}

th {
  text-align: center;
}

/* credits */
.credits {
  display: none;
}

.credits p {
  font-size: 1.2em;
  margin: 4px;
}

/* game play */
.during-play {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.play-panel-headings {
  font-variant: small-caps;
  font-weight: bold;
}

.type-challenge {
  font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
  .type-challenge {
    font-size: 1em;
  }
}

.correct {
  color: skyblue;
}

.incorrect {
  color: red;
}

/* images and animation */
.paper-plane {
  position: absolute;
  height: 70px;
  width: auto;
  left: 0%;
}

.crumpled {
  position: absolute;
  margin-top: 10px;
  height: 50px;
  width: auto;
}

.animation-container {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  height: 60px;
}

/* end game */
.times-up {
  display: none;
}

.after-win {
  display: none;
}

.quote-author {
  font-weight: bold;
}
